.change-password-container1 {
    display: flex;
    justify-content: center;
}

.change-password-container2 {
    width: 500px;
}

.change-password-title {
    text-align: center;
}

.cp-label {
    margin-top: 10px;
}

.chpp-btn {
    margin-top: 2rem;
}