.forgot-password-padding {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.forgot-password-nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot-password-back {
    width: 18px;
    cursor: pointer;
    position: absolute;
    top: 10px;
}
