.question-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.question-user-img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid var(--borderColor);
}